<div class="row">
    <h1>Experiencia laboral</h1> 
    <div class="col-lg-1"></div>  
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Allus, call center</h1> - <h3>un año y medio</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet 
                consectetur adipisicing elit. 
                Consectetur quidem neque, 
                reprehenderit iste totam 
                necessitatibus minus impedit 
                voluptatem assumenda. Nemo illum, 
                debitis aperiam qui deleniti sed 
                distinctio possimus quod. 
                Exercitationem?
            </p>
        </ul>

        <ul>
            <li>
                <h1>Andreani</h1> - <h3>dos años y medio</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet 
                consectetur adipisicing elit. 
                Consectetur quidem neque, 
                reprehenderit iste totam 
                necessitatibus minus impedit 
                voluptatem assumenda. Nemo illum, 
                debitis aperiam qui deleniti sed 
                distinctio possimus quod. 
                Exercitationem?
            </p>
        </ul>

        <ul>
            <li>
                <h1>Ocasa</h1> - <h3>tres años</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet 
                consectetur adipisicing elit. 
                Consectetur quidem neque, 
                reprehenderit iste totam 
                necessitatibus minus impedit 
                voluptatem assumenda. Nemo illum, 
                debitis aperiam qui deleniti sed 
                distinctio possimus quod. 
                Exercitationem?
            </p>
        </ul>
    </div>
</div>
