<div class="row">

    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Portfolio (MODIFICAR, nombre,fecha,descr,link,img)</h3>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Cumque ratione mollitia soluta, 
                facilis quaerat adipisci. 
                Ut tempora unde dolorem, 
                nostrum perspiciatis accusamus 
                culpa eum provident quidem quia 
                suscipit aperiam dolore.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/iiijaa.png"
            class="img-fluid img-proyecto">
        </div>
    </div>


</div>
