.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    margin: 0.2em;
    margin-right: 0.5em;
    
}

#APLogo{
    width: 200px;
}

img{
    width: 50px;
}

.btn{
    border-width: medium;
}

/* para pantallas pequeñas (celular)*/

@media (max-width: 575px){
    .container{
        flex-direction:column;
    }   

   

    .redes{
        display: flex;
    
        align-items: center;
    }

   

    .redes img{
        margin: 0.2em;
    }


}